@use "../styles/main";

.rexa-hr {
  border: none;
  height: 2px;
  width: 80%;
  margin: 20px auto;
  background: linear-gradient(to right,
          transparent 0%,
          rgba(main.$main-color, .3) 25%,
          rgba(main.$main-color, .3) 75%,
          transparent 100%);
}